<mat-form-field>
  <mat-label>Plain datasource</mat-label>
  <textarea [(ngModel)]="textArea"
            matInput
            cdkTextareaAutosize
            #autosize="cdkTextareaAutosize"
            cdkAutosizeMinRows="1"
            cdkAutosizeMaxRows="5"></textarea>
</mat-form-field>
<mat-form-field>
  <mat-label>Mapper</mat-label>
  <textarea [(ngModel)]="mapper"
            matInput
            cdkTextareaAutosize
            cdkAutosizeMinRows="1"
            cdkAutosizeMaxRows="5"></textarea>
</mat-form-field>

<button mat-button (click)="mapDataSource()">Map datasource</button>
<button mat-button (click)="setDataSource()">Set DataSource</button>
