<div>
  <div id="sideContent">
      <mat-stepper orientation="vertical">
        <mat-step>
          <ng-template matStepLabel>Data Type</ng-template>
          <ng-template matStepContent>
            <app-data-type-selector [chartGroups]="chartGroups" [chartType]="chartType" (selectEvent)="updateChartTypes($event)">
            </app-data-type-selector>
            <button mat-button matStepperNext>Next</button>
          </ng-template>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>Chart Type</ng-template>
          <ng-template matStepContent>
            <app-chart-type-selector [chartGroups]="chartGroups" [chartType]="chartType"
                                     (selectEvent)="selectChart($event)">
            </app-chart-type-selector>
            <button mat-button matStepperNext>Next</button>
          </ng-template>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>Options</ng-template>
          <app-char-options [chartType]="chartType" [chart]="chart" [options]="options">
          </app-char-options>
          <ng-template matStepContent>
            <p>This content was also rendered lazily</p>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
          </ng-template>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>Step 3</ng-template>
          <p>This content was rendered eagerly</p>
          <button mat-button matStepperPrevious>Back</button>
        </mat-step>
      </mat-stepper>
  </div>
  <div id="mainContent">
    <ngx-charts-bar-vertical
      *ngIf="chartType === 'bar-vertical'"
      class="chart-container"
      [view]="view"
      [scheme]="options.colorScheme"
      [schemeType]="options.schemeType"
      [customColors]="options.customColors"
      [results]="single"
      [animations]="options.animations"
      [gradient]="options.gradient"
      [xAxis]="options.showXAxis"
      [yAxis]="options.showYAxis"
      [legend]="options.showLegend"
      [legendTitle]="options.legendTitle"
      [legendPosition]="options.legendPosition"
      [showXAxisLabel]="options.showXAxisLabel"
      [showYAxisLabel]="options.showYAxisLabel"
      [tooltipDisabled]="options.tooltipDisabled"
      [xAxisLabel]="options.xAxisLabel"
      [yAxisLabel]="options.yAxisLabel"
      [showGridLines]="options.showGridLines"
      [barPadding]="options.barPadding"
      [roundDomains]="options.roundDomains"
      [roundEdges]="options.roundEdges"
      [yScaleMax]="options.yScaleMax"
      [noBarWhenZero]="options.noBarWhenZero"
      [showDataLabel]="options.showDataLabel"
      [trimXAxisTicks]="options.trimXAxisTicks"
      [trimYAxisTicks]="options.trimYAxisTicks"
      [rotateXAxisTicks]="options.rotateXAxisTicks"
      [maxXAxisTickLength]="options.maxXAxisTickLength"
      [maxYAxisTickLength]="options.maxYAxisTickLength"
      (select)="select($event)"
      (activate)="activate($event)"
      (deactivate)="deactivate($event)"
    >
    </ngx-charts-bar-vertical>
    <ngx-charts-bar-horizontal
      *ngIf="chartType === 'bar-horizontal'"
      class="chart-container"
      [view]="view"
      [scheme]="options.colorScheme"
      [schemeType]="options.schemeType"
      [results]="single"
      [animations]="options.animations"
      [gradient]="options.gradient"
      [xAxis]="options.showXAxis"
      [yAxis]="options.showYAxis"
      [legend]="options.showLegend"
      [legendTitle]="options.legendTitle"
      [legendPosition]="options.legendPosition"
      [showXAxisLabel]="options.showXAxisLabel"
      [showYAxisLabel]="options.showYAxisLabel"
      [tooltipDisabled]="options.tooltipDisabled"
      [xAxisLabel]="options.xAxisLabel"
      [yAxisLabel]="options.yAxisLabel"
      [showGridLines]="options.showGridLines"
      [barPadding]="options.barPadding"
      [roundDomains]="options.roundDomains"
      [roundEdges]="options.roundEdges"
      [xScaleMax]="options.xScaleMax"
      [noBarWhenZero]="options.noBarWhenZero"
      [showDataLabel]="options.showDataLabel"
      [trimXAxisTicks]="options.trimXAxisTicks"
      [trimYAxisTicks]="options.trimYAxisTicks"
      [rotateXAxisTicks]="options.rotateXAxisTicks"
      [maxXAxisTickLength]="options.maxXAxisTickLength"
      [maxYAxisTickLength]="options.maxYAxisTickLength"
      (select)="select($event)"
      (activate)="activate($event)"
      (deactivate)="deactivate($event)"
    >
    </ngx-charts-bar-horizontal>
    <ngx-charts-bar-vertical-2d
      *ngIf="chartType === 'bar-vertical-2d'"
      class="chart-container"
      [view]="view"
      [scheme]="options.colorScheme"
      [schemeType]="options.schemeType"
      [results]="multi"
      [animations]="options.animations"
      [gradient]="options.gradient"
      [xAxis]="options.showXAxis"
      [yAxis]="options.showYAxis"
      [legend]="options.showLegend"
      [legendTitle]="options.legendTitle"
      [legendPosition]="options.legendPosition"
      [showXAxisLabel]="options.showXAxisLabel"
      [showYAxisLabel]="options.showYAxisLabel"
      [tooltipDisabled]="options.tooltipDisabled"
      [xAxisLabel]="options.xAxisLabel"
      [yAxisLabel]="options.yAxisLabel"
      [showGridLines]="options.showGridLines"
      [barPadding]="options.barPadding"
      [groupPadding]="options.groupPadding"
      [roundDomains]="options.roundDomains"
      [roundEdges]="options.roundEdges"
      [yScaleMax]="options.yScaleMax"
      [noBarWhenZero]="options.noBarWhenZero"
      [showDataLabel]="options.showDataLabel"
      [trimXAxisTicks]="options.trimXAxisTicks"
      [trimYAxisTicks]="options.trimYAxisTicks"
      [rotateXAxisTicks]="options.rotateXAxisTicks"
      [maxXAxisTickLength]="options.maxXAxisTickLength"
      [maxYAxisTickLength]="options.maxYAxisTickLength"
      (select)="select($event)"
      (activate)="activate($event)"
      (deactivate)="deactivate($event)"
    >
    </ngx-charts-bar-vertical-2d>
    <ngx-charts-bar-horizontal-2d
      *ngIf="chartType === 'bar-horizontal-2d'"
      class="chart-container"
      [view]="view"
      [scheme]="options.colorScheme"
      [schemeType]="options.schemeType"
      [results]="multi"
      [animations]="options.animations"
      [gradient]="options.gradient"
      [tooltipDisabled]="options.tooltipDisabled"
      [xAxis]="options.showXAxis"
      [yAxis]="options.showYAxis"
      [legend]="options.showLegend"
      [legendTitle]="options.legendTitle"
      [legendPosition]="options.legendPosition"
      [showXAxisLabel]="options.showXAxisLabel"
      [showYAxisLabel]="options.showYAxisLabel"
      [xAxisLabel]="options.xAxisLabel"
      [yAxisLabel]="options.yAxisLabel"
      [showGridLines]="options.showGridLines"
      [barPadding]="options.barPadding"
      [groupPadding]="options.groupPadding"
      [roundDomains]="options.roundDomains"
      [roundEdges]="options.roundEdges"
      [xScaleMax]="options.xScaleMax"
      [noBarWhenZero]="options.noBarWhenZero"
      [showDataLabel]="options.showDataLabel"
      [trimXAxisTicks]="options.trimXAxisTicks"
      [trimYAxisTicks]="options.trimYAxisTicks"
      [rotateXAxisTicks]="options.rotateXAxisTicks"
      [maxXAxisTickLength]="options.maxXAxisTickLength"
      [maxYAxisTickLength]="options.maxYAxisTickLength"
      (select)="select($event)"
      (activate)="activate($event)"
      (deactivate)="deactivate($event)"
    >
    </ngx-charts-bar-horizontal-2d>
    <ngx-charts-bar-vertical-stacked
      *ngIf="chartType === 'bar-vertical-stacked'"
      class="chart-container"
      [view]="view"
      [scheme]="options.colorScheme"
      [schemeType]="options.schemeType"
      [results]="multi"
      [animations]="options.animations"
      [gradient]="options.gradient"
      [tooltipDisabled]="options.tooltipDisabled"
      [xAxis]="options.showXAxis"
      [yAxis]="options.showYAxis"
      [legend]="options.showLegend"
      [legendTitle]="options.legendTitle"
      [legendPosition]="options.legendPosition"
      [showXAxisLabel]="options.showXAxisLabel"
      [showYAxisLabel]="options.showYAxisLabel"
      [xAxisLabel]="options.xAxisLabel"
      [yAxisLabel]="options.yAxisLabel"
      [showGridLines]="options.showGridLines"
      [barPadding]="options.barPadding"
      [roundDomains]="options.roundDomains"
      [yScaleMax]="options.yScaleMax"
      [noBarWhenZero]="options.noBarWhenZero"
      [showDataLabel]="options.showDataLabel"
      [trimXAxisTicks]="options.trimXAxisTicks"
      [trimYAxisTicks]="options.trimYAxisTicks"
      [rotateXAxisTicks]="options.rotateXAxisTicks"
      [maxXAxisTickLength]="options.maxXAxisTickLength"
      [maxYAxisTickLength]="options.maxYAxisTickLength"
      (select)="select($event)"
      (activate)="activate($event)"
      (deactivate)="deactivate($event)"
    >
    </ngx-charts-bar-vertical-stacked>
    <ngx-charts-bar-horizontal-stacked
      *ngIf="chartType === 'bar-horizontal-stacked'"
      class="chart-container"
      [view]="view"
      [scheme]="options.colorScheme"
      [schemeType]="options.schemeType"
      [results]="multi"
      [animations]="options.animations"
      [gradient]="options.gradient"
      [tooltipDisabled]="options.tooltipDisabled"
      [xAxis]="options.showXAxis"
      [yAxis]="options.showYAxis"
      [legend]="options.showLegend"
      [legendTitle]="options.legendTitle"
      [legendPosition]="options.legendPosition"
      [showXAxisLabel]="options.showXAxisLabel"
      [showYAxisLabel]="options.showYAxisLabel"
      [xAxisLabel]="options.xAxisLabel"
      [yAxisLabel]="options.yAxisLabel"
      [showGridLines]="options.showGridLines"
      [barPadding]="options.barPadding"
      [roundDomains]="options.roundDomains"
      [showDataLabel]="options.showDataLabel"
      [xScaleMax]="options.xScaleMax"
      [noBarWhenZero]="options.noBarWhenZero"
      [trimXAxisTicks]="options.trimXAxisTicks"
      [trimYAxisTicks]="options.trimYAxisTicks"
      [rotateXAxisTicks]="options.rotateXAxisTicks"
      [maxXAxisTickLength]="options.maxXAxisTickLength"
      [maxYAxisTickLength]="options.maxYAxisTickLength"
      (select)="select($event)"
      (activate)="activate($event)"
      (deactivate)="deactivate($event)"
    >
    </ngx-charts-bar-horizontal-stacked>
    <ngx-charts-bar-vertical-normalized
      *ngIf="chartType === 'bar-vertical-normalized'"
      class="chart-container"
      [view]="view"
      [scheme]="options.colorScheme"
      [schemeType]="options.schemeType"
      [results]="multi"
      [animations]="options.animations"
      [gradient]="options.gradient"
      [tooltipDisabled]="options.tooltipDisabled"
      [xAxis]="options.showXAxis"
      [yAxis]="options.showYAxis"
      [legend]="options.showLegend"
      [legendTitle]="options.legendTitle"
      [legendPosition]="options.legendPosition"
      [showXAxisLabel]="options.showXAxisLabel"
      [showYAxisLabel]="options.showYAxisLabel"
      [xAxisLabel]="options.xAxisLabel"
      [yAxisLabel]="options.yAxisLabel"
      [showGridLines]="options.showGridLines"
      [barPadding]="options.barPadding"
      [roundDomains]="options.roundDomains"
      [noBarWhenZero]="options.noBarWhenZero"
      [trimXAxisTicks]="options.trimXAxisTicks"
      [trimYAxisTicks]="options.trimYAxisTicks"
      [rotateXAxisTicks]="options.rotateXAxisTicks"
      [maxXAxisTickLength]="options.maxXAxisTickLength"
      [maxYAxisTickLength]="options.maxYAxisTickLength"
      (select)="select($event)"
      (activate)="activate($event)"
      (deactivate)="deactivate($event)"
    >
    </ngx-charts-bar-vertical-normalized>
    <ngx-charts-bar-horizontal-normalized
      *ngIf="chartType === 'bar-horizontal-normalized'"
      class="chart-container"
      [view]="view"
      [scheme]="options.colorScheme"
      [schemeType]="options.schemeType"
      [results]="multi"
      [animations]="options.animations"
      [gradient]="options.gradient"
      [tooltipDisabled]="options.tooltipDisabled"
      [xAxis]="options.showXAxis"
      [yAxis]="options.showYAxis"
      [legend]="options.showLegend"
      [legendTitle]="options.legendTitle"
      [legendPosition]="options.legendPosition"
      [showXAxisLabel]="options.showXAxisLabel"
      [showYAxisLabel]="options.showYAxisLabel"
      [xAxisLabel]="options.xAxisLabel"
      [yAxisLabel]="options.yAxisLabel"
      [showGridLines]="options.showGridLines"
      [barPadding]="options.barPadding"
      [roundDomains]="options.roundDomains"
      [noBarWhenZero]="options.noBarWhenZero"
      [trimXAxisTicks]="options.trimXAxisTicks"
      [trimYAxisTicks]="options.trimYAxisTicks"
      [rotateXAxisTicks]="options.rotateXAxisTicks"
      [maxXAxisTickLength]="options.maxXAxisTickLength"
      [maxYAxisTickLength]="options.maxYAxisTickLength"
      (select)="select($event)"
      (activate)="activate($event)"
      (deactivate)="deactivate($event)"
    >
    </ngx-charts-bar-horizontal-normalized>
    <ngx-charts-pie-chart
      *ngIf="chartType === 'pie-chart'"
      class="chart-container"
      [view]="view"
      [scheme]="options.colorScheme"
      [results]="single"
      [animations]="options.animations"
      [legend]="options.showLegend"
      [legendTitle]="options.legendTitle"
      [legendPosition]="options.legendPosition"
      [explodeSlices]="options.explodeSlices"
      [labels]="options.showLabels"
      [doughnut]="options.doughnut"
      [arcWidth]="options.arcWidth"
      [gradient]="options.gradient"
      [tooltipDisabled]="options.tooltipDisabled"
      [tooltipText]="pieTooltipText"
      (dblclick)="dblclick($event)"
      (select)="select($event)"
      (activate)="activate($event)"
      (deactivate)="deactivate($event)"
    >
    </ngx-charts-pie-chart>
    <ngx-charts-advanced-pie-chart
      *ngIf="chartType === 'advanced-pie-chart'"
      class="chart-container"
      [view]="view"
      [scheme]="options.colorScheme"
      [results]="single"
      [valueFormatting]="valueFormatting"
      [animations]="options.animations"
      [gradient]="options.gradient"
      [tooltipDisabled]="options.tooltipDisabled"
      [tooltipText]="pieTooltipText"
      (select)="select($event)"
      (activate)="activate($event)"
      (deactivate)="deactivate($event)"
    >
    </ngx-charts-advanced-pie-chart>
    <ngx-charts-pie-grid
      *ngIf="chartType === 'pie-grid'"
      class="chart-container"
      [view]="view"
      [scheme]="options.colorScheme"
      [results]="single"
      [animations]="options.animations"
      [tooltipDisabled]="options.tooltipDisabled"
      [tooltipText]="pieTooltipText"
      (select)="select($event)"
      (activate)="activate($event)"
      (deactivate)="deactivate($event)"
    >
    </ngx-charts-pie-grid>
    <ngx-charts-line-chart
      *ngIf="chartType === 'line-chart'"
      [view]="view"
      class="chart-container"
      [scheme]="options.colorScheme"
      [schemeType]="options.schemeType"
      [results]="range ? dateDataWithRange : dateData"
      [animations]="options.animations"
      [legend]="options.showLegend"
      [legendTitle]="options.legendTitle"
      [legendPosition]="options.legendPosition"
      [gradient]="options.gradient"
      [xAxis]="options.showXAxis"
      [yAxis]="options.showYAxis"
      [showXAxisLabel]="options.showXAxisLabel"
      [showYAxisLabel]="options.showYAxisLabel"
      [xAxisLabel]="options.xAxisLabel"
      [yAxisLabel]="options.yAxisLabel"
      [autoScale]="options.autoScale"
      [xScaleMin]="options.xScaleMin"
      [xScaleMax]="options.xScaleMax"
      [yScaleMin]="options.yScaleMin"
      [yScaleMax]="options.yScaleMax"
      [timeline]="options.timeline"
      [showGridLines]="options.showGridLines"
      [curve]="options.curve"
      [rangeFillOpacity]="options.rangeFillOpacity"
      [roundDomains]="options.roundDomains"
      [tooltipDisabled]="options.tooltipDisabled"
      [trimXAxisTicks]="options.trimXAxisTicks"
      [trimYAxisTicks]="options.trimYAxisTicks"
      [rotateXAxisTicks]="options.rotateXAxisTicks"
      [maxXAxisTickLength]="options.maxXAxisTickLength"
      [maxYAxisTickLength]="options.maxYAxisTickLength"
      (select)="select($event)"
      (activate)="activate($event)"
      (deactivate)="deactivate($event)"
    >
    </ngx-charts-line-chart>
    <ngx-charts-polar-chart
      *ngIf="chartType === 'polar-chart'"
      [view]="view"
      class="chart-container"
      [scheme]="options.colorScheme"
      [schemeType]="options.schemeType"
      [results]="multi"
      [animations]="options.animations"
      [legend]="options.showLegend"
      [legendTitle]="options.legendTitle"
      [legendPosition]="options.legendPosition"
      [gradient]="options.gradient"
      [xAxis]="options.showXAxis"
      [yAxis]="options.showYAxis"
      [showXAxisLabel]="options.showXAxisLabel"
      [showYAxisLabel]="options.showYAxisLabel"
      [xAxisLabel]="options.xAxisLabel"
      [yAxisLabel]="options.yAxisLabel"
      [autoScale]="options.autoScale"
      [showGridLines]="options.showGridLines"
      [rangeFillOpacity]="options.rangeFillOpacity"
      [roundDomains]="options.roundDomains"
      [tooltipDisabled]="options.tooltipDisabled"
      [showSeriesOnHover]="options.showSeriesOnHover"
      [trimYAxisTicks]="options.trimYAxisTicks"
      [maxYAxisTickLength]="options.maxYAxisTickLength"
      [curve]="options.closedCurve"
      (select)="select($event)"
      (activate)="activate($event)"
      (deactivate)="deactivate($event)"
    >
    </ngx-charts-polar-chart>
    <ngx-charts-bubble-chart
      *ngIf="chartType === 'bubble-chart'"
      [view]="view"
      class="chart-container"
      [results]="bubble"
      [animations]="options.animations"
      [showGridLines]="options.showGridLines"
      [legend]="options.showLegend"
      [legendTitle]="options.legendTitle"
      [legendPosition]="options.legendPosition"
      [xAxis]="options.showXAxis"
      [yAxis]="options.showYAxis"
      [showXAxisLabel]="options.showXAxisLabel"
      [showYAxisLabel]="options.showYAxisLabel"
      [xAxisLabel]="options.xAxisLabel"
      [yAxisLabel]="options.yAxisLabel"
      [autoScale]="options.autoScale"
      [xScaleMin]="options.xScaleMin"
      [xScaleMax]="options.xScaleMax"
      [yScaleMin]="options.yScaleMin"
      [yScaleMax]="options.yScaleMax"
      [scheme]="options.colorScheme"
      [schemeType]="options.schemeType"
      [roundDomains]="options.roundDomains"
      [tooltipDisabled]="options.tooltipDisabled"
      [minRadius]="options.minRadius"
      [maxRadius]="options.maxRadius"
      [trimXAxisTicks]="options.trimXAxisTicks"
      [trimYAxisTicks]="options.trimYAxisTicks"
      [rotateXAxisTicks]="options.rotateXAxisTicks"
      [maxXAxisTickLength]="options.maxXAxisTickLength"
      [maxYAxisTickLength]="options.maxYAxisTickLength"
      (activate)="activate($event)"
      (deactivate)="deactivate($event)"
      (select)="select($event)"
    >
    </ngx-charts-bubble-chart>
    <ngx-charts-area-chart
      *ngIf="chartType === 'area-chart'"
      class="chart-container"
      [view]="view"
      [scheme]="options.colorScheme"
      [schemeType]="options.schemeType"
      [results]="dateData"
      [animations]="options.animations"
      [legend]="options.showLegend"
      [legendTitle]="options.legendTitle"
      [legendPosition]="options.legendPosition"
      [gradient]="options.gradient"
      [xAxis]="options.showXAxis"
      [yAxis]="options.showYAxis"
      [showXAxisLabel]="options.showXAxisLabel"
      [showYAxisLabel]="options.showYAxisLabel"
      [xAxisLabel]="options.xAxisLabel"
      [yAxisLabel]="options.yAxisLabel"
      [autoScale]="options.autoScale"
      [xScaleMin]="options.xScaleMin"
      [xScaleMax]="options.xScaleMax"
      [yScaleMin]="options.yScaleMin"
      [yScaleMax]="options.yScaleMax"
      [timeline]="options.timeline"
      [showGridLines]="options.showGridLines"
      [roundDomains]="options.roundDomains"
      [curve]="options.curve"
      [tooltipDisabled]="options.tooltipDisabled"
      [trimXAxisTicks]="options.trimXAxisTicks"
      [trimYAxisTicks]="options.trimYAxisTicks"
      [rotateXAxisTicks]="options.rotateXAxisTicks"
      [maxXAxisTickLength]="options.maxXAxisTickLength"
      [maxYAxisTickLength]="options.maxYAxisTickLength"
      (select)="select($event)"
      (activate)="activate($event)"
      (deactivate)="deactivate($event)"
    >
    </ngx-charts-area-chart>
    <ngx-charts-area-chart-stacked
      *ngIf="chartType === 'area-chart-stacked'"
      class="chart-container"
      [view]="view"
      [scheme]="options.colorScheme"
      [schemeType]="options.schemeType"
      [results]="dateData"
      [animations]="options.animations"
      [legend]="options.showLegend"
      [legendTitle]="options.legendTitle"
      [legendPosition]="options.legendPosition"
      [gradient]="options.gradient"
      [xAxis]="options.showXAxis"
      [yAxis]="options.showYAxis"
      [showXAxisLabel]="options.showXAxisLabel"
      [showYAxisLabel]="options.showYAxisLabel"
      [xAxisLabel]="options.xAxisLabel"
      [yAxisLabel]="options.yAxisLabel"
      [timeline]="options.timeline"
      [xScaleMin]="options.xScaleMin"
      [xScaleMax]="options.xScaleMax"
      [yScaleMin]="options.yScaleMin"
      [yScaleMax]="options.yScaleMax"
      [showGridLines]="options.showGridLines"
      [roundDomains]="options.roundDomains"
      [tooltipDisabled]="options.tooltipDisabled"
      [curve]="options.curve"
      [trimXAxisTicks]="options.trimXAxisTicks"
      [trimYAxisTicks]="options.trimYAxisTicks"
      [rotateXAxisTicks]="options.rotateXAxisTicks"
      [maxXAxisTickLength]="options.maxXAxisTickLength"
      [maxYAxisTickLength]="options.maxYAxisTickLength"
      (select)="select($event)"
      (activate)="activate($event)"
      (deactivate)="deactivate($event)"
    >
    </ngx-charts-area-chart-stacked>
    <ngx-charts-area-chart-normalized
      *ngIf="chartType === 'area-chart-normalized'"
      class="chart-container"
      [view]="view"
      [scheme]="options.colorScheme"
      [schemeType]="options.schemeType"
      [results]="dateData"
      [animations]="options.animations"
      [legend]="options.showLegend"
      [legendTitle]="options.legendTitle"
      [legendPosition]="options.legendPosition"
      [gradient]="options.gradient"
      [xAxis]="options.showXAxis"
      [yAxis]="options.showYAxis"
      [showXAxisLabel]="options.showXAxisLabel"
      [showYAxisLabel]="options.showYAxisLabel"
      [xAxisLabel]="options.xAxisLabel"
      [yAxisLabel]="options.yAxisLabel"
      [timeline]="options.timeline"
      [showGridLines]="options.showGridLines"
      [roundDomains]="options.roundDomains"
      [tooltipDisabled]="options.tooltipDisabled"
      [curve]="options.curve"
      [trimXAxisTicks]="options.trimXAxisTicks"
      [trimYAxisTicks]="options.trimYAxisTicks"
      [rotateXAxisTicks]="options.rotateXAxisTicks"
      [maxXAxisTickLength]="options.maxXAxisTickLength"
      [maxYAxisTickLength]="options.maxYAxisTickLength"
      (select)="select($event)"
      (activate)="activate($event)"
      (deactivate)="deactivate($event)"
    >
    </ngx-charts-area-chart-normalized>
    <ngx-charts-heat-map
      *ngIf="chartType === 'heat-map'"
      class="chart-container"
      [min]="options.heatmapMin"
      [max]="options.heatmapMax"
      [view]="view"
      [scheme]="options.colorScheme"
      [results]="multi"
      [animations]="options.animations"
      [legend]="options.showLegend"
      [gradient]="options.gradient"
      [xAxis]="options.showXAxis"
      [yAxis]="options.showYAxis"
      [showXAxisLabel]="options.showXAxisLabel"
      [showYAxisLabel]="options.showYAxisLabel"
      [xAxisLabel]="options.xAxisLabel"
      [yAxisLabel]="options.yAxisLabel"
      [innerPadding]="options.innerPadding"
      [tooltipDisabled]="options.tooltipDisabled"
      [trimXAxisTicks]="options.trimXAxisTicks"
      [trimYAxisTicks]="options.trimYAxisTicks"
      [rotateXAxisTicks]="options.rotateXAxisTicks"
      [maxXAxisTickLength]="options.maxXAxisTickLength"
      [maxYAxisTickLength]="options.maxYAxisTickLength"
      (select)="select($event)"
      (activate)="activate($event)"
      (deactivate)="deactivate($event)"
    >
    </ngx-charts-heat-map>
    <ngx-charts-heat-map
      *ngIf="chartType === 'calendar'"
      class="chart-container"
      [view]="view"
      [scheme]="options.colorScheme"
      [results]="calendarData"
      [animations]="options.animations"
      [legend]="options.showLegend"
      [gradient]="options.gradient"
      [xAxis]="options.showXAxis"
      [yAxis]="options.showYAxis"
      [showXAxisLabel]="false"
      [showYAxisLabel]="false"
      [xAxisTickFormatting]="calendarAxisTickFormatting"
      [tooltipText]="calendarTooltipText"
      [innerPadding]="options.innerPadding"
      [tooltipDisabled]="options.tooltipDisabled"
      [trimXAxisTicks]="options.trimXAxisTicks"
      [trimYAxisTicks]="options.trimYAxisTicks"
      [rotateXAxisTicks]="options.rotateXAxisTicks"
      [maxXAxisTickLength]="options.maxXAxisTickLength"
      [maxYAxisTickLength]="options.maxYAxisTickLength"
      (select)="select($event)"
      (activate)="activate($event)"
      (deactivate)="deactivate($event)"
    >
    </ngx-charts-heat-map>
    <ngx-charts-tree-map
      *ngIf="chartType === 'tree-map'"
      class="chart-container"
      [view]="view"
      [scheme]="options.colorScheme"
      [results]="single"
      [animations]="options.animations"
      [tooltipDisabled]="options.tooltipDisabled"
      [labelFormatting]="gdpLabelFormatting"
      [valueFormatting]="currencyFormatting"
      [gradient]="options.gradient"
      (select)="select($event)"
    >
    </ngx-charts-tree-map>
    <ngx-charts-number-card
      *ngIf="chartType === 'number-card'"
      class="chart-container"
      [view]="view"
      [scheme]="options.colorScheme"
      cardColor="#232837"
      emptyColor="#1e222e"
      [results]="single"
      [animations]="options.animations"
      (select)="select($event)"
    >
    </ngx-charts-number-card>
    <ngx-charts-box-chart
      *ngIf="chartType === 'box-plot'"
      class="chart-container"
      [view]="view"
      [results]="boxData"
      [scheme]="options.colorScheme"
      [schemeType]="options.schemeType"
      [customColors]="options.customColors"
      [strokeColor]="options.strokeColor"
      [strokeWidth]="options.strokeWidth"
      [xAxis]="options.showXAxis"
      [yAxis]="options.showYAxis"
      [legend]="options.showLegend"
      [legendTitle]="options.legendTitle"
      [legendPosition]="options.legendPosition"
      [showXAxisLabel]="options.showXAxisLabel"
      [showYAxisLabel]="options.showYAxisLabel"
      [tooltipDisabled]="options.tooltipDisabled"
      [xAxisLabel]="options.xAxisLabel"
      [yAxisLabel]="options.yAxisLabel"
      [showGridLines]="options.showGridLines"
      [roundDomains]="options.roundDomains"
      [roundEdges]="options.roundEdges"
      [gradient]="options.gradient"
      [animations]="options.animations"
      (select)="select($event)"
      (activate)="activate($event)"
      (deactivate)="deactivate($event)"
    >
    </ngx-charts-box-chart>
  </div>
</div>
