<div>
  <div id="sideContent">
      <mat-stepper orientation="vertical" #matStepper>
        <mat-step [completed]="data != null">
          <ng-template matStepLabel>Data Source</ng-template>
          <ng-template matStepContent>
              <app-data-source-selector (dataSource)="selectResults($event)">
              </app-data-source-selector>
          </ng-template>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>Chart Type</ng-template>
          <ng-template matStepContent>
            <chart-type-selector [data]="data" (selectChartTypeEvent)="selectChartType($event)"></chart-type-selector>
          </ng-template>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>Options</ng-template>
          <ng-template matStepContent>
            <app-chart-options [chartType]="configuration.chartType" [chart]="chart" [options]="configuration.chartOptions"></app-chart-options>
          </ng-template>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>Export</ng-template>
          <ng-template matStepContent>
            <app-export-options [configuration]="configuration"></app-export-options>
          </ng-template>
        </mat-step>
      </mat-stepper>
  </div>
  <div id="mainContent">
  <chart-adapter-component [configuration]="configuration"
                 [dataSource]="data">
  </chart-adapter-component>
  </div>
</div>
