#mainContent, #sideContent {
  float:left; display:inline;
}

#mainContent {
  width: 85%;
  text-align: center;
}

#mainContent chart-adapter-component {
  margin:10px;
  display:inline-block;
  background:#e0e0e0;
}

#sideContent {
  width: 15%;
}
