<div>
  <div id="sideContent">
      <mat-stepper orientation="vertical">
        <mat-step>
          <ng-template matStepLabel>Chart Type</ng-template>
          <ng-template matStepContent>
            <app-data-source-selector (resultEvent)="selectResults($event)"></app-data-source-selector>
            <app-data-type-selector [chartGroups]="chartGroups"
                                    [chartType]="$chartType | async"
                                    (selectEvent)="updateChartTypes($event)">
            </app-data-type-selector>
            <app-chart-type-selector [chartGroups]="chartGroups" [chartType]="$chartType | async"
                                     (selectEvent)="selectChart($event)">
            </app-chart-type-selector>

            <button mat-button matStepperNext>Next</button>
          </ng-template>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>Options</ng-template>
          <app-char-options [chartType]="$chartType | async" [chart]="chart" [options]="options">
          </app-char-options>
          <ng-template matStepContent>
            <p>This content was also rendered lazily</p>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
          </ng-template>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>Step 3</ng-template>
          <p>This content was rendered eagerly</p>
          <button mat-button matStepperPrevious>Back</button>
        </mat-step>
      </mat-stepper>
  </div>
  <div>Current Count: {{ $chartType | async }}</div>
  <div id="mainContent">
    <app-chart-adapter [chartType]="$chartType | async"
                       [options]="options"
                       [results]="results"
                       [view]="view"
                       (deactivate)="deactivate($event)"
                       (select)="select($event)"
                       (activate)="activate($event) ">
    </app-chart-adapter>
  </div>
</div>
