<form [formGroup]="form" (submit)="submit()">
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>api</mat-label>
    <input [formControl]="graphqlApiFormControl" matInput placeholder="/pet" value="/pet">
    <mat-error *ngIf="graphqlApiFormControl.invalid">
      Please enter a valid API path.
    </mat-error>
  </mat-form-field>
  <graphql-input-component [formControlInput]="graphqlQueryFormControl"
                        [label]="'GraphqlQuery'"></graphql-input-component>
  <json-input-component [formControlInput]="mapperFormControl"
                        [label]="'Mapper'"></json-input-component>
  <mat-error *ngIf="form.hasError('semanticError')">
    Query result can not be mapped
  </mat-error>
  <button mat-button type="submit" [disabled]="mapperFormControl.invalid || graphqlQueryFormControl.invalid || graphqlApiFormControl.invalid">Set DataSource</button>

</form>
