<mat-form-field appearance="fill">
  <mat-label>DATA-SOURCE-SELECTOR</mat-label>
  <mat-select [(ngModel)]="resultKey" (ngModelChange)="selectDataSource($event)">
        <mat-option *ngFor="let key of resultKeys" [value]="key">
          {{ key }}
        </mat-option>
  </mat-select>
</mat-form-field>
<mat-form-field>
  <mat-label>Autosize textarea</mat-label>
  <textarea [(ngModel)]="textArea"
            matInput
            cdkTextareaAutosize
            #autosize="cdkTextareaAutosize"
            cdkAutosizeMinRows="1"
            cdkAutosizeMaxRows="5"></textarea>
</mat-form-field>
<button *ngIf="resultKey == 'custom'" mat-button (click)="setDataSource()">Set DataSource</button>
