<mat-form-field appearance="fill">
  <mat-label>DATA-SOURCE-SELECTOR</mat-label>
  <mat-select [(ngModel)]="dataSourceType" (ngModelChange)="selectDataSource($event)">
        <mat-option *ngFor="let type of dataSourceTypes" [value]="type">
          {{ type }}
        </mat-option>
  </mat-select>
</mat-form-field>
<app-custom-data-source *ngIf="dataSourceType == 'custom'" (resultEvent)="resultEvent.emit($event)"></app-custom-data-source>
<app-graphql-data-source *ngIf="dataSourceType == 'graphql'" (resultEvent)="resultEvent.emit($event)"></app-graphql-data-source>
